target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

speedtest/speedmesuare.bin
speedtest/synapse-07a85853d216.json
/test_jwt.sh
/db/
/.apt_target/
/janusgraph/
